.body_color{
    background-color: #083b4c;
}

.fizzbuzz{
    background-color: #f0466f;
    padding: 1rem;
}

.fizz{
    background-color: #0cd6a1;
    padding: 1rem;

}

.buzz{
    background-color: #ffd166;
    
    padding: 1rem;

}

.number{
    padding: 1rem;
    background-color: #1389b2;
}

.col{
    margin: 0.5rem;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}